.app {
	max-width: 900px;
	margin: 0 auto;
}

.calc-ui {
	.pull-right {
		float: right;
	}

	box-sizing: border-box;
	.gui-line {
		font-family: monospace;
		&.unit-complete {
			$pad: 4px;
			input {
				font-family: monospace;
				font-size: inherit;
				border: 1px solid gray;
				padding: $pad;
			}
			.prompt,
			.inline-response {
				padding-top: $pad;
				padding-bottom: $pad;
			}
			.inline-query,
			.inline-response {
				display: inline-block;
				vertical-align: text-top;
			}
			.dropdown-menu {
				margin: 0;
				list-style: none;
				padding-left: 0;
				padding: 1ex;
				position: absolute;
				max-height: 300px;
				background-color: white;
				border: 1px solid black;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
				overflow-y: auto;
				border-radius: 5px;
			}
		}
	}

	.tagged-string-display {
		font-family: monospace;
		white-space: pre-wrap;
	}
	a.unit-href {
		&,
		&:visited,
		&:hover,
		&:active {
			color: rgb(0, 0, 238);
		}
	}
}
.gnu-units-categorize {
	::selection {
		background-color: #cff;
	}
}

.gnu-rewrite-test {
	white-space: pre;
	.clickable {
		cursor: pointer;
	}
	ul.table-of-contents {
		list-style: none;
		.toc-line {
			text-indent: -2em;
			padding-left: 2em;
		}
	}
	.deleted-box {
		font-style: italic;
		color: gray;
	}
	.normal-box {
		&.well {
			margin-bottom: 0;
		}
		td {
			padding: 8px;
		}
		display: inline-block;
		.content,
		.comment {
			float: left;
		}
		.comment {
			margin-left: 1em;
			margin-bottom: 0;
		}
	}
}
